[Unit]
Description=Mi Gestor de Pantalla

[Service]
ExecStart=/ruta/a/mi_display_manager/start_dm.sh
Restart=always

[Install]
WantedBy=graphical.target
